# Reward Early Community Bot token
RECB_TOKEN=You must take your token from the Discord Developers portal, upon BOT creation

# Reward Early Community Server name
REC_SERVER_NAME="Your server name"

# Reward Early Community Output destination
REC_OUTPUT_DIR="./database/rewardCommunity.json"

# Reward By Rank Bot token
RBR_BOT_TOKEN=You must take your token from the Discord Developers portal, upon BOT creation

# Reward By Rank Server name
RBR_SERVER_NAME="Taskudis's server"

# Reward By Rank Output destination
RBR_OUTPUT_DIR="./database/rewardByRank.json"

# Supported message types
SUPPORTED_MESSAGE_TYPES=['DEFAULT']

# Slash command GUILD ID
SC_GUILD_ID= This can be taken from the discord App, when you enable developer access, upon right click on the server

# Slash command CLIENT ID
SC_CLIENT_ID= This can be taken from the discord App, when you enable developer access, upon right click on the bot